refxml/EULYNX_DP_V1.0/RsmSignalling.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rsmCommon="http://www.railsystemmodel.org/schemas/Common/1.2" xmlns:rsmNE="http://www.railsystemmodel.org/schemas/NetEntity/1.2" xmlns:rsmSig="http://www.railsystemmodel.org/schemas/Signalling/1.2" elementFormDefault="qualified" targetNamespace="http://www.railsystemmodel.org/schemas/Signalling/1.2">
  <!--<dc:date>2021-12-21T16:28:00Z</dc:date><dc:creator>rtm2xsd 1.9.1</dc:creator><dc:source>Model 1.2, XMI 2.4.1, EA 13</dc:source>-->
  <xs:annotation>
    <xs:documentation>
      This XML schema file was generated by the EULYNX DataPrep workgroup.
      Detailed technical information is found on https://rsm.uic.org
</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/NetEntity/1.2" schemaLocation="RsmNetEntity.xsd"/>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/Common/1.2" schemaLocation="RsmCommon.xsd"/>
  <xs:complexType name="TpsDevice">
    <xs:annotation>
      <xs:documentation>Device that transmits train protection information to a passing train.
E.g. crocodile, (Euro-)balise, magnet, loop.
On-track TPS devices such as balises or crocodiles are associated with spot locations. Loops are associated with a linear location. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmSig:OnTrackSignallingDevice"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="OnTrackSignallingDevice">
    <xs:annotation>
      <xs:documentation>Superclass for all on-track signalling devices. Encompasses balises, axle counting heads, LZB cables, etc.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmNE:LocatedNetEntity"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VehiclePassageDetector">
    <xs:annotation>
      <xs:documentation>Line-side device for detecting passage of a rail vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmSig:OnTrackSignallingDevice"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Signal">
    <xs:annotation>
      <xs:documentation>Apparatus by means of which a conventional visual or acoustic indication is given, generally concerning the movements of railway vehicles.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmNE:LocatedNetEntity"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RouteBody">
    <xs:annotation>
      <xs:documentation>A track-level path that can be followed by a railway vehicle.

Path is described by, and refers to, a linear location, i.e. a closed, oriented topological subset of the network, without any branches.

EULYNX DP defines a route body with an entry and exit. One may give the positions of points (=turnouts) that the train encounters (facing or trailing) in the route body.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rsmNE:LocatedNetEntity"/>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

