refxml/XSD_OLD/Eulynx_Schema/SNCF.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:generic="http://dataprep.eulynx.eu/schema/Generic" xmlns:rsmCommon="http://www.railsystemmodel.org/schemas/RSM1.2beta/Common" xmlns:sig="http://dataprep.eulynx.eu/schema/Signalling" xmlns:sncf="http://dataprep.eulynx.eu/schema/SNCF" elementFormDefault="qualified" targetNamespace="http://dataprep.eulynx.eu/schema/SNCF">
  <!--<dc:date>2021-08-31T12:05:18Z</dc:date><dc:creator>rtm2xsd 1.8.5</dc:creator><dc:source>Model , XMI 2.4.1, EA 13</dc:source>-->
  <xs:import namespace="" schemaLocation="Data_container.xsd"/>
  <xs:import namespace="http://www.railsystemmodel.org/schemas/RSM1.2beta/Common" schemaLocation="Common.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Signalling" schemaLocation="Signalling.xsd"/>
  <xs:import namespace="http://dataprep.eulynx.eu/schema/Generic" schemaLocation="Generic.xsd"/>
  <xs:complexType name="IpcsLocking">
    <xs:annotation>
      <xs:documentation>Used in case of IPCS or ITCS installations.

fr-FR: Installations Permanentes ou Temporaires de Contresens.
IPCS est un enclenchement de sens modifi&amp;#233;.
Par d&amp;#233;faut, l'intervalle est orient&amp;#233; dans le sens normal (les signaux de contre-sens sont &amp;#233;teints, sauf celui de sortie de l'intervalle et son signal d'annonce, les crocodiles des signaux de sens contraire sont non aliment&amp;#233;s, les annonces de PN ne fonctionnent que dans le sens normal, etc.).
Pour prendre le sens normal, IPCS fonctionne quasiment comme l'enclenchement de sens sauf que l'occupation de l'intervalle n'est pas v&amp;#233;rifi&amp;#233;e.
Pour prendre le contre-sens, IPCS fonctionne comme l'enclenchement de sens (donc l'occupation de l'intervalle est v&amp;#233;rifi&amp;#233;e), mais cette prise de sens &amp;#224; des cons&amp;#233;quences sur la signalisation de l'intervalle. A la prise du contre-sens, l'intervalle s'oriente en contre-sens (les signaux de contre-sens s'allument, les crocodiles de sens normal sont non aliment&amp;#233;s, les crocodiles de contre-sens sont aliment&amp;#233;s, les annonces de PN ne fonctionnent que dans le contre-sens, etc.).
D&amp;#232;s que l'intervalle n'est plus occup&amp;#233; et qu'il n'y a plus d'itin&amp;#233;raire vers l'intervalle en contre-sens, l'intervalle se r&amp;#233;oriente en sens normal. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:TrackLocking">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="checksState" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Checks that lever or key release instrument is activated.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:CompoundLogicalObjectAndState</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="conflictsWithMovableElementInPosition" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Reference to points that need to be locked in a given position, e.g. "point 5 left" and that allows the train to use the given route body.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:MovableElementAndPosition</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="conflictsWithRoute" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>References to routes in a neighbouring interlocking that are in conflict with the requested route body.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:Route</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="hasInterval" nillable="true" type="sncf:Interval">
            <xs:annotation>
              <xs:documentation>fr-Fr: L'enclenchement est associ&amp;#233; &amp;#224; un intervalle.
</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SncfDirectionTypes">
    <xs:annotation>
      <xs:documentation>Direction types in use with SNCF.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="odd">
        <xs:annotation>
          <xs:documentation>fr-FR: impair</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="even">
        <xs:annotation>
          <xs:documentation>fr-FR: pair</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="KvbTpsToTargetRelation">
    <xs:annotation>
      <xs:documentation>Gives the distance from a target where speed must be reduced or equal to zero.
fr-FR: Renseigne la distance &amp;#224; une cible o&amp;#249; la vitesse doit &amp;#234;tre r&amp;#233;duite ou &amp;#233;gale &amp;#224; z&amp;#233;ro.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:KvbRelation">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="hasDesignSlope" type="rsmCommon:Gradient">
            <xs:annotation>
              <xs:documentation>Slope for which the KVB balises have been engineered.
fr-FR: d&amp;#233;clivit&amp;#233; pour laquelle les balises KVB ont &amp;#233;t&amp;#233; dimensionn&amp;#233;es.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasDistanceFromSignalToTarget" type="rsmCommon:Length">
            <xs:annotation>
              <xs:documentation>Distance between signal and target.
fr-FR: distance entre signal et point but. Utilis&amp;#233;e pour balise prox &amp;#224; distance de glissement entre 100m et 200m.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasDistanceFromTargetToFoulingPoint" type="rsmCommon:Length">
            <xs:annotation>
              <xs:documentation>Distance from target to fouling point.
fr-FR: distance entre point but et garage franc. Utilis&amp;#233;e pour balise prox &amp;#224; distance de glissement entre 50m et 100m.
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hasDistanceTpsToTarget" nillable="true" type="rsmCommon:Length">
            <xs:annotation>
              <xs:documentation>Distance from the TP device to the target. Can be zero.
fr-FR: distance but</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandoffLocking">
    <xs:annotation>
      <xs:documentation>fr-FR: Enclenchement d'affrontement.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:TrackLocking">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="manualReleasePossible" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>When true, the route locking may be released by the signaller.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StationTrackLocking">
    <xs:annotation>
      <xs:documentation>Allows shunting movement on track situated between the opposing signals.

fr-FR: enclenchement de voie de stationnement (St).
Typiquement utilis&amp;#233; pour une voie &amp;#224; quai. Le transit qui donne acc&amp;#232;s &amp;#224; la voie de stationnement en sens contraire est v&amp;#233;rifi&amp;#233;. Permet de manœuvrer (e.g. pour coupler deux rames ou atteler une locomotive). 

Comme une VU, sauf que l'on peut y manœuvrer (pour coupler deux rames ou pour atteler une locomotive). Au lieu de v&amp;#233;rifier le transit de sens contraire de la VU, est v&amp;#233;rifi&amp;#233; le transit qui donne acc&amp;#232;s &amp;#224; la voie de stationnement en sens contraire. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:TrackLocking">
        <xs:sequence>
          <xs:element name="hasInterval" nillable="true" type="sncf:Interval">
            <xs:annotation>
              <xs:documentation>fr-Fr: L'enclenchement est associ&amp;#233; &amp;#224; un intervalle.
</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FictitiousSignalFunctionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="interlockingBorder">
        <xs:annotation>
          <xs:documentation>Signal fictif &amp;#224; la limite de poste. Permet de scinder un parcours allant d'un poste vers un autre en deux itin&amp;#233;raires compl&amp;#232;tement distincts, limitant ainsi au maximum les d&amp;#233;pendances entre les deux postes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LockoutDevice">
    <xs:annotation>
      <xs:documentation>SNCF device
fr-FR:  commutateur permettant &amp;#224; l'agent de la maintenance de s’assurer que les trains &amp;#233;voluent &amp;#224; vitesse r&amp;#233;duite dans la zone couverte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:LockoutDevice">
        <xs:sequence>
          <xs:element name="isOfType" nillable="true" type="sncf:LockoutDeviceTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransitAndMovableElementPosition">
    <xs:annotation>
      <xs:documentation>Tuple of a transit plus point and position.
fr-FR: paire transit et position de l' aiguille.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="checksIfMovableElementIsInPosition" type="sig:MovableElementAndPosition">
        <xs:annotation>
          <xs:documentation>fr-FR: V&amp;#233;rifie l'&amp;#233;tat du transit si l'aiguille est dans une position donn&amp;#233;e.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="checksTransit" nillable="true" type="rsmCommon:tElementWithIDref">
        <xs:annotation>
          <xs:appinfo>
            <ObjectTypeRef>sncf:Transit</ObjectTypeRef>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KvbAnalogBalise">
    <xs:complexContent>
      <xs:extension base="sncf:KvbBalise">
        <xs:sequence>
          <xs:element name="hasFunction" nillable="true" type="sncf:KvbAnalogBaliseFunctionTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrocodileSystemProperties">
    <xs:annotation>
      <xs:documentation>System behavioural properties of the crocodile installation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:TpsDataTransmissionSystemProperties">
        <xs:sequence>
          <xs:element name="hasCrocodileFunction" nillable="true" type="sncf:CrocodileFunctionTypes">
            <xs:annotation>
              <xs:documentation>The crocodile system is designed for one specific function.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="isDesignedForReaction" type="sncf:CrocodileReactionType">
            <xs:annotation>
              <xs:documentation>The crocodile is designed to trigger a train-board reaction.
If this is a train recognition crocodile, no reaction is given (Paris suburban trains.)
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="trailable" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>fr-FR: Crocodile talonnable, equip&amp;#233; d'une p&amp;#233;dale pour annuler le crocodile lorsqu'il est franchi en sens inverse.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KvbRelation">
    <xs:annotation>
      <xs:documentation>Informs at what distance the KVB balises are placed on approach to the signal.
fr-FR: Renseigne &amp;#224; quelle distance les balises KVB sont plac&amp;#233;es &amp;#224; l'approche du signal.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:TpsRelation">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="appliesToFacingPoint" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Applies to a facing point (as opposed to fouling point).
fr-FR: s'applique &amp;#224; la pointe de l'aiguille.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:MovableElement</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="appliesToFoulingPoint" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Applies to fouling point of the point/turnout.
fr-FR: point but vis&amp;#233; est le garage franc de l'aiguille. </xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:MovableElement</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="appliesToLocationOfInterest" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Marks the spot where a speed changes that is the target of a KVB balise group announcing a speed reduction starting at a location of interest.
fr-FR: Point but d'une balise KVB annon&amp;#231;ant une vitesse r&amp;#233;duite au point remarquable.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>generic:LocationOfInterest</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="appliesToTurnoutBranch" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Applies to left or right branch of a point.
fr-FR: en talon gauche ou droite d'une aiguille </xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:PointElementAndPosition</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="hasDistanceFromTpsToFoulingPoint" type="rsmCommon:Length">
            <xs:annotation>
              <xs:documentation>fr-FR: distance balise au garage franc, utilis&amp;#233;e pour un point prox avec distance de glissement inf&amp;#233;rieure &amp;#224; 50m.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SingleTrackLocking">
    <xs:annotation>
      <xs:documentation>Used case of single track, i.e. the opposing routes are part of one yard controlled by a single interlocking.

fr-FR: Voie Unique (VU)
Une voie unique dans le poste est une portion de voie d&amp;#233;limit&amp;#233;e par deux signaux de sens contraire dos &amp;#224; dos. Est v&amp;#233;rifi&amp;#233; que le transit de sens contraire de la zone de la VU est lib&amp;#233;r&amp;#233;. Si c'est le cas, le sens de la VU est pris et l'itin&amp;#233;raire s'&amp;#233;tablit. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:TrackLocking">
        <xs:sequence>
          <xs:element name="hasInterval" nillable="true" type="sncf:Interval">
            <xs:annotation>
              <xs:documentation>fr-Fr: L'enclenchement est associ&amp;#233; &amp;#224; un intervalle.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KvbSpeedDesignProperties">
    <xs:annotation>
      <xs:documentation>See SNCF document DES258/IG33258 for details about the properties in this class.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="isDesignedForSpeed" type="rsmCommon:Speed">
        <xs:annotation>
          <xs:documentation>speed is not given when the train category is not allowed on the line or when the train speed is lower than the allowed speed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isDesignedForTrainCategory" nillable="true" type="sig:KvbTrain"/>
      <xs:element maxOccurs="1" minOccurs="1" name="trainCategoryHasLowerSpeed" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>&lt;ul&gt;
 &lt;li&gt;True: the train ignores this speed limit because the train category has a max speed lower than the speed given by the balise.&lt;/li&gt;
 &lt;li&gt;False: the train must respect the speed limit given by the balise.&lt;/li&gt;
&lt;/ul&gt;

fr-FR: "Vitesse Train" =&amp;gt; VT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="trainCategoryNotAllowed" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>fr-FR: NCP (Ne Circule Pas)
&lt;ul&gt;
 &lt;li&gt;True: this train category does not exist on this line.&lt;/li&gt;
 &lt;li&gt;False: this train category is allowed on the line.&lt;/li&gt;
&lt;/ul&gt;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KvbCsspInformationField">
    <xs:annotation>
      <xs:documentation>Information from the CSSP family not linked to speed control.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:KvbInformationField">
        <xs:sequence>
          <xs:element name="hasKvbCsspInformationType" nillable="true" type="sncf:KvbCsspInformationTypes"/>
          <xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:int">
            <xs:annotation>
              <xs:documentation>Value associated with CR, SR, QTB</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KvbDigitalBalise">
    <xs:complexContent>
      <xs:extension base="sncf:KvbBalise"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="KvbAnalogBaliseFunctionTypes">
    <xs:annotation>
      <xs:documentation>Values are in SNCF document IG90169 &amp;#167;6.2.2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>Signal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="d">
        <xs:annotation>
          <xs:documentation>Distance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="p">
        <xs:annotation>
          <xs:documentation>Profil (d&amp;#233;clivit&amp;#233;).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dp">
        <xs:annotation>
          <xs:documentation>Distance et profil.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="g">
        <xs:annotation>
          <xs:documentation>Limitation de vitesse &amp;#171; cat&amp;#233;gorie g&amp;#233;n&amp;#233;rale &amp;#187;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s1">
        <xs:annotation>
          <xs:documentation>Limitation de vitesse &amp;#171; cat&amp;#233;gories sp&amp;#233;ciales &amp;#187;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s2">
        <xs:annotation>
          <xs:documentation>Limitation de vitesse &amp;#171; cat&amp;#233;gories sp&amp;#233;ciales &amp;#187;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s3">
        <xs:annotation>
          <xs:documentation>Limitation de vitesse &amp;#171; cat&amp;#233;gories sp&amp;#233;ciales &amp;#187;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ltv">
        <xs:annotation>
          <xs:documentation>Limitation temporaire de vitesse.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:documentation>Marqueur.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="f">
        <xs:annotation>
          <xs:documentation>Informations diverses.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cssp">
        <xs:annotation>
          <xs:documentation>Informations pour Cartes de Sortie S&amp;#233;rie Parall&amp;#232;le.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="KvbSpeedControlInformationField">
    <xs:annotation>
      <xs:documentation>Information linked to speed control.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:KvbInformationField">
        <xs:sequence>
          <xs:element name="hasKvbSpeedControlInformationType" nillable="true" type="sncf:KvbSpeedControlInformationTypes"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasSpeedDesignProperties" type="sncf:KvbSpeedDesignProperties"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="hasTarget" type="sncf:KvbTpsToTargetRelation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KvbBalise">
    <xs:annotation>
      <xs:documentation>A balise used for Controle de Vitesse par Balise (KVB).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:Balise">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="positionInGroup" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>Position of the balise in the group.
Ranges from A to E.
A for first, E for fifth in group.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DirectionLocking">
    <xs:annotation>
      <xs:documentation>fr-FR: Enclenchement de sens entre postes.
Checks to prevent simultaneous opening of opposing signals that are controlled by different interlocking systems.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:TrackLocking">
        <xs:sequence>
          <xs:element name="hasInterval" nillable="true" type="sncf:Interval">
            <xs:annotation>
              <xs:documentation>fr-Fr: L'enclenchement est associ&amp;#233; &amp;#224; un intervalle.
</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Transit">
    <xs:annotation>
      <xs:documentation>A transit is a TVP section plus a direction.
fr-FR: Un transit correspond &amp;#224; une section TVP &amp;#224; laquelle on affecte un sens.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generic:ConfiguredBaseObject">
        <xs:sequence>
          <xs:element name="appliesToTvpSection" nillable="true" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>fr-FR: Zone (section TVP) &amp;#224; laquelle le transit est associ&amp;#233;</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:TvpSection</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="hasDirection" nillable="true" type="sncf:SncfDirectionTypes">
            <xs:annotation>
              <xs:documentation>fr-FR: Le transit est associ&amp;#233; &amp;#224; un sens.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RouteBody">
    <xs:annotation>
      <xs:documentation>The SNCF route body is used for opposing route checks.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:RouteBody">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="activatesTransit" nillable="true" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>Transits are activated when the train runs along the route body.
fr-FR: Le parcours de l'itin&amp;#233;raire met en action des transits.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sncf:Transit</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="checksOpposingRouteLocking" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>A route along this route path is only allowed when the opposing route locking checks succeed.
fr-FR: Le parcours de l'itin&amp;#233;raire v&amp;#233;rifie l'&amp;#233;tat des enclenchements entre itin&amp;#233;raires de sens contraire.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sncf:OpposingRouteLocking</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="hasDirection" nillable="true" type="sncf:SncfDirectionTypes">
            <xs:annotation>
              <xs:documentation>Odd/even direction of the route body in terms odd/even. This direction has no direct relation with the underlying topological linear elements.
fr-FR: Sens de l'itin&amp;#233;raire pair ou impair.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SignallingEntities">
    <xs:complexContent>
      <xs:extension base="generic:SignallingEntities">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsOpposingRoute" type="sncf:OpposingRouteLocking"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ownsTransit" type="sncf:Transit"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="OpposingRouteLocking">
    <xs:annotation>
      <xs:documentation>Defines the configuration parameters needed to implement the exclusion of face-to-face movement.
The system proves that sections in between opposing signals are not claimed for movement in the opposite direction. A signal that provides entry to a route can only be opened when no opposing route is set. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generic:ConfiguredBaseObject"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CrocodileFunctionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="speedChecking">
        <xs:annotation>
          <xs:documentation>fr-FR: Controle de vitesse DAAT-Avanc&amp;#233;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trainCategoryDetection">
        <xs:annotation>
          <xs:documentation>fr-FR: Reconnaissance de cat&amp;#233;gorie de trains (de banlieue parisienne)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="signal">
        <xs:annotation>
          <xs:documentation>Equipement compl&amp;#233;mentaire d'un signal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FictitiousSignal">
    <xs:annotation>
      <xs:documentation>Signal fictif.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:FictitiousSignal">
        <xs:sequence>
          <xs:element name="hasFunction" nillable="true" type="sncf:FictitiousSignalFunctionTypes"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="KvbSpeedControlInformationTypes">
    <xs:annotation>
      <xs:documentation>Enumeration of values for the information field linked to speed control.

fr-FR: Abr&amp;#233;viations de la d&amp;#233;signation des champs li&amp;#233;s au contr&amp;#244;le de vitesse.

Source: SNCF document IG90169, paragraph 6.3.2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ae">
        <xs:annotation>
          <xs:documentation>Champ cod&amp;#233; AE pour raison technique.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aativd">
        <xs:annotation>
          <xs:documentation>Annulation d’un TIVD en talon d’appareil.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="avra">
        <xs:annotation>
          <xs:documentation>Annulation de la vitesse de rappel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dvl">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de vitesse limit&amp;#233;e.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fvl">
        <xs:annotation>
          <xs:documentation>Fin de vitesse limit&amp;#233;e.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fz">
        <xs:annotation>
          <xs:documentation>Fin de zone &amp;#233;quip&amp;#233;e.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dzc">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de zone en construction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fzc">
        <xs:annotation>
          <xs:documentation>Fin de zone en construction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dzsa">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de zone sans alerte.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fzsa">
        <xs:annotation>
          <xs:documentation>Fin de zone sans alerte.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dzhv">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de zone hors visualisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fzhv">
        <xs:annotation>
          <xs:documentation>Fin de zone hors visualisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dtcc">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de zone de transmission continue en construction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ftcc">
        <xs:annotation>
          <xs:documentation>Fin de zone de transmission continue en construction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="itc">
        <xs:annotation>
          <xs:documentation>Initialisation de la transmission continue.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iloc">
        <xs:annotation>
          <xs:documentation>Initialisation de la localisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pfix">
        <xs:annotation>
          <xs:documentation>Tableau P fixe.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vpmob">
        <xs:annotation>
          <xs:documentation>Tableau P mobile.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="proxh">
        <xs:annotation>
          <xs:documentation>Proximit&amp;#233; de heurtoir.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rafcc">
        <xs:annotation>
          <xs:documentation>Rafra&amp;#238;chissement d’espace pour canton court.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rafcl">
        <xs:annotation>
          <xs:documentation>Rafra&amp;#238;chissement d’espace pour canton long.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>Signal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sp">
        <xs:annotation>
          <xs:documentation>Traitement de proximit&amp;#233;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sreo">
        <xs:annotation>
          <xs:documentation>R&amp;#233;ouverture signal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sf">
        <xs:annotation>
          <xs:documentation>Franchissement de signal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="srev">
        <xs:annotation>
          <xs:documentation>R&amp;#233;veil de train.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sur">
        <xs:annotation>
          <xs:documentation>Surveillance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tivd">
        <xs:annotation>
          <xs:documentation>TIVD fixe.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tive">
        <xs:annotation>
          <xs:documentation>Ex&amp;#233;cution d’une limitation de vitesse fixe (par plaque Z ou R, de type "LMTR" par pancarte km ou facilement rep&amp;#233;rable ou pour une entr&amp;#233;e syst&amp;#232;me). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tive5">
        <xs:annotation>
          <xs:documentation>TIVE de heurtoir.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tpaa">
        <xs:annotation>
          <xs:documentation>Annulation d’un tableau P mobile au TIV.D pr&amp;#233;annonc&amp;#233;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tpex">
        <xs:annotation>
          <xs:documentation>Ex&amp;#233;cution d’un tableau P fixe au TIV.D pr&amp;#233;annonc&amp;#233;.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vaa">
        <xs:annotation>
          <xs:documentation>Annulation d’un TIV.D fixe ou mobile.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="van">
        <xs:annotation>
          <xs:documentation>Vitesse d’annonce (R ou (R) ou TIV.D mobile).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vra">
        <xs:annotation>
          <xs:documentation>Vitesse de rappel (RR ou (RR) ou TIV.R).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vreo">
        <xs:annotation>
          <xs:documentation>R&amp;#233;ouverture vitesse.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dgv">
        <xs:annotation>
          <xs:documentation>D&amp;#233;but de zone &amp;#224; grande vitesse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fgv">
        <xs:annotation>
          <xs:documentation>Fin de zone &amp;#224; grande vitesse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BidirectionalRouteLocking">
    <xs:annotation>
      <xs:documentation>Opposing route locking for routes in areas with points.
fr-FR: Enclenchement de parcours banalis&amp;#233; (dans les zones &amp;#233;quip&amp;#233;es d'appareils de voie).
Les conditions d'&amp;#233;tablissement de l'itin&amp;#233;raire ne requi&amp;#232;rent que la v&amp;#233;rification du transit de sens contraire en aval du signal origine de l'itin&amp;#233;raire (e.g. pour v&amp;#233;rifier qu'aucun intin&amp;#233;raire de sens contraire form&amp;#233; a pour destination un signal en amont du signal origine). </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:OpposingRouteLocking">
        <xs:sequence>
          <xs:element name="checksTransit" nillable="true" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>This transit needs checking.</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sncf:Transit</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KvbInformationField">
    <xs:annotation>
      <xs:documentation>Individual information fields for a KVB Train Protection System.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="generic:BaseObject">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="designation" type="xs:string">
            <xs:annotation>
              <xs:documentation>Optional designation of an information field; used for digital balises when there is a need to distinguish two information fields that have the same function.
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="normalDirection" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>true: information works in the normal direction.
false: works in reverse direction.

Normal/reverse refers to the orientation of the balise group.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="remarks" nillable="true" type="xs:string">
            <xs:annotation>
              <xs:documentation>Remarks such as "train sub-category is not subject to speed control".

FR: observations, tel que "sous-cat&amp;#233;gorie de train non contr&amp;#244;l&amp;#233;e en vitesse =&amp;gt; non KV".</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="KvbCsspInformationTypes">
    <xs:annotation>
      <xs:documentation>Enumeration of values for the information field of the CSSP family not linked to speed control and various functions.

fr-FR: Abr&amp;#233;viations de la d&amp;#233;signation des champs de la famille CSSP &lt;i&gt;non &lt;/i&gt;li&amp;#233;s au contr&amp;#244;le de vitesse et fonctions diverses.

Source: SNCF document IG90169, paragraph 6.3.3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="cr">
        <xs:annotation>
          <xs:documentation>Canal radio num&amp;#233;ro ...</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sr">
        <xs:annotation>
          <xs:documentation>Syst&amp;#232;me radio num&amp;#233;ro ...</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="etu">
        <xs:annotation>
          <xs:documentation>Entr&amp;#233;e tunnel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stu">
        <xs:annotation>
          <xs:documentation>Sortie tunnel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qte">
        <xs:annotation>
          <xs:documentation>Quai de type haut.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qtc">
        <xs:annotation>
          <xs:documentation>Quai de type interm&amp;#233;diaire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qtb1">
        <xs:annotation>
          <xs:documentation>Quai de type mi-haut niveau 1.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qtb3">
        <xs:annotation>
          <xs:documentation>Quai de type mi-haut niveau 3.
</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qta">
        <xs:annotation>
          <xs:documentation>Quai de type bas.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qag">
        <xs:annotation>
          <xs:documentation>Quai &amp;#224; desservir &amp;#224; gauche.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qad">
        <xs:annotation>
          <xs:documentation>Quai &amp;#224; desservir &amp;#224; droite.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qgd">
        <xs:annotation>
          <xs:documentation>Quai &amp;#224; desservir &amp;#224; gauche et &amp;#224; droite.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qhg">
        <xs:annotation>
          <xs:documentation>Quai haut &amp;#224; gauche.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qhd">
        <xs:annotation>
          <xs:documentation>Quai haut &amp;#224; droite.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vwc">
        <xs:annotation>
          <xs:documentation>Verrouillage WC.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lwc">
        <xs:annotation>
          <xs:documentation>Lib&amp;#233;ration WC.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bgl">
        <xs:annotation>
          <xs:documentation>Banlieue Grande Ligne.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qbg">
        <xs:annotation>
          <xs:documentation>Quai bas &amp;#224; gauche.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qbd">
        <xs:annotation>
          <xs:documentation>Quai bas &amp;#224; droite.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qhdg">
        <xs:annotation>
          <xs:documentation>Quai haut &amp;#224; droite et &amp;#224; gauche.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qbdg">
        <xs:annotation>
          <xs:documentation>Quai bas &amp;#224; droite et &amp;#224; gauche.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CrocodileReactionType">
    <xs:annotation>
      <xs:documentation>The kind of reaction for which the crocodile is designed. This determines the type of current that is injected into the crocodile.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="warning">
        <xs:annotation>
          <xs:documentation>fr-FR: Avertissement de survitesse
DC current </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="emergencyBrake">
        <xs:annotation>
          <xs:documentation>fr-FR: Frein d'urgence
AC current</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WarningAndEb">
        <xs:annotation>
          <xs:documentation>fr-FR: Avertissement et frein d'urgence.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LockoutDeviceTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="zep_v">
        <xs:annotation>
          <xs:documentation>Les commutateur ZEP &amp;#171; V &amp;#187;:  commutateur pr&amp;#233;sent le long des voie permettant au agent de la maintenance de s’assurer que sur la zone des voie couverte par la Zep que les trains ne peuvent &amp;#233;voluer qu’en marche &amp;#224; vue. Cette installation est utilis&amp;#233; en zone de poste.

</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="canton_v">
        <xs:annotation>
          <xs:documentation>Les commutateur Canton &amp;#171; V &amp;#187; : commutateur pr&amp;#233;sent le long des voie permettant au agent de la maintenance de s’assurer que  sur une zone des voie se situant entre 2 postes que les trains ne peuvent &amp;#233;voluer qu’en marche &amp;#224; vue. Cette installation est utilis&amp;#233; hors zone de poste.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blocage">
        <xs:annotation>
          <xs:documentation>Les commutateur de blocages : commutateur pr&amp;#233;sent le long des voie &amp;#224; proximit&amp;#233; d’un signal ou d’un PN permettant au agent de la maintenance et de l’exploitation (conducteur des trains) de s’assurer que les trains sur une zone des voie ne peuvent &amp;#233;voluer qu’en marche &amp;#224; vue. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cmPT">
        <xs:annotation>
          <xs:documentation>Dans le cas de la grande vitesse,  le commutateurs CmPT : Commutateur de protection, ils sont mis en œuvre sur toute partie de voie munie de TVM (postes et intervalles). Cette protection r&amp;#233;sulte de la manœuvre de commutateurs dispos&amp;#233;s le long de la ligne de chaque c&amp;#244;t&amp;#233; des voies. Ils sont utilis&amp;#233;s soit pour les travaux par le Chef de Chantier, soit pour la protection des obstacles inopin&amp;#233;s par les agents charg&amp;#233;s de la maintenance ou les conducteurs. La mise en protection d'un commutateur entra&amp;#238;ne la protection du (ou des) canton correspondant au commutateur quel que soit le sens de circulation.

</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fs_zep_L">
        <xs:annotation>
          <xs:documentation>Dans le cas de la grande vitesse, des Commutateurs FS ZEP L : Les commutateurs FS ZEP L sont &amp;#224; l’usage exclusif des agents effectuant les travaux et cadenassables en position de protection; ils sont install&amp;#233;s dans les vestibules des postes et CAI et permettent la protection des intervalles entre deux postes LGV

</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lim_vitesse">
        <xs:annotation>
          <xs:documentation>Dans le cas de la grande vitesse, commutateur de limitation de vitesse (80, 170km/h) : Les commutateurs sont situ&amp;#233;s dans les vestibules des centres d'appareillage (postes ou CAI), cette limitation de vitesse concerne les deux sens de circulation et est command&amp;#233; sur le canton concern&amp;#233;. Elle est pr&amp;#233;vue dans les zones o&amp;#249; l'espace disponible ne permet pas au personnel d'&amp;#234;tre &amp;#224; distance suffisante pour &amp;#233;chapper &amp;#224; l'effet de souffle provoqu&amp;#233; par le passage des circulations (tunnels, viaducs, tranch&amp;#233;es couvertes, murs anti-bruit,...).
</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="KvbSystemProperties">
    <xs:annotation>
      <xs:documentation>KVB system properties.
The inherited speed design properties are not used for KVB.

FR: champs d'informations</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:TpsDataTransmissionSystemProperties">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="1" name="hasInformationField" nillable="true" type="sncf:KvbInformationField">
            <xs:annotation>
              <xs:documentation>Digital balise group can have many information fields.
The order of the information fields is defined in SNCF document DES258/IG33258.
Analog balise group: multiplicity is one for an unidirectional balise group, or two for a bidirectional balise group.
fr-FR: &lt;i&gt;champs d'information&lt;/i&gt;</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Crocodile">
    <xs:annotation>
      <xs:documentation>Train Protection Device used in France, Belgium and Luxemburg.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sig:TpsSpotDevice">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="isSuppressedByTreadle" type="rsmCommon:tElementWithIDref">
            <xs:annotation>
              <xs:documentation>crocodile est annul&amp;#233; par p&amp;#233;dale</xs:documentation>
              <xs:appinfo>
                <ObjectTypeRef>sig:Treadle</ObjectTypeRef>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="TrackLocking">
    <xs:annotation>
      <xs:documentation>Opposing route locking for line without points.
fr-FR: Enclenchement portant sur des portions de voie lin&amp;#233;aire, g&amp;#233;n&amp;#233;ralement sans aiguilles.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sncf:OpposingRouteLocking">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="betweenInterlockings" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>fr-FR: Enclenchement entre postes ou non.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="checksTransitForEvenDirection" type="sncf:TransitAndMovableElementPosition"/>
          <xs:element maxOccurs="1" minOccurs="0" name="checksTransitForOddDirection" type="sncf:TransitAndMovableElementPosition"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Interval">
    <xs:annotation>
      <xs:documentation>Track between two signals equipped with an interlocked direction.
fr-FR: Intervalle. Portion de voie entre 2 signaux munie d'un enclenchement de sens.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="hasTvpSections" nillable="true" type="rsmCommon:tElementWithIDref">
        <xs:annotation>
          <xs:documentation>fr-Fr: L'intervalle est constitu&amp;#233; de zones (sections TVP).</xs:documentation>
          <xs:appinfo>
            <ObjectTypeRef>sig:TvpSection</ObjectTypeRef>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="2" minOccurs="2" name="limitedBySignals" nillable="true" type="rsmCommon:tElementWithIDref">
        <xs:annotation>
          <xs:documentation>fr-FR: L'intervalle est d&amp;#233;limit&amp;#233; par deux signaux.</xs:documentation>
          <xs:appinfo>
            <ObjectTypeRef>sig:ActiveSignal</ObjectTypeRef>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

